{% extends "base.html" %}  {% block title %}Sign Up{% endblock %}

{% block content %}
<form method = "POST">
    <h1 style = "text-align:center; padding:20; color:rgb(54, 181, 122)"> Crystal Pacific</h1>
    <h4 style = "text-align:center; padding:20; color:rgb(0, 0, 0)"> Sign Up</h4>

    <div class = "form-group">
        <label for = "email">Email Address</label>
        <input 
        type = "email" 
        class = "form-control"
        id = "email"
        name = "email"
        placeholder = "Enter Email"
        />
    </div>

    <div class = "form-group">
        <label for = "firstName"> First Name</label>
        <input 
        type = "text" 
        class = "form-control"
        id = "firstName"
        name = "firstName"
        placeholder = "Enter first name"
        />
    </div>

    <div class = "form-group">
        <label for = "lastName"> Last Name</label>
        <input 
        type = "text" 
        class = "form-control"
        id = "lastName"
        name = "lastName"
        placeholder = "Enter last name"
        />
    </div>
    <div class = "form-group">
        <label for = "streetAddress"> Street Address</label>
        <input 
        type = "text" 
        class = "form-control"
        id = "streetAddress"
        name = "streetAddress"
        placeholder = "Enter your street address"
        />
    </div>

    <div class = "form-group">
        <label for = "city"> City </label>
        <input 
        type = "text" 
        class = "form-control"
        id = "city"
        name = "city"
        placeholder = "Enter your city"
        />
    </div>

    <div class = "form-group">
        <label for = "state"> State </label>
        <input 
        type = "text" 
        class = "form-control"
        id = "state"
        name = "state"
        placeholder = "Enter your state"
        />
    </div>

    <div class = "form-group">
        <label for = "telephone"> Phone Number </label>
        <input 
        type = "tel" 
        class = "form-control"
        id = "telephone"
        name = "telephone"
        placeholder = "Enter your phone number in (format: xxx-xxx-xxxx)"
        />
    </div>

    <div class = "form-group">
        <label for = "birthday"> Birthday </label>
        <input 
        type = "date" 
        min="2005-01-01"
        class = "form-control"
        id = "birthday"
        name = "birthday"
        />
    </div>

    <div class = "form-group">
        <label for = "password1"> Password</label>
        <input 
        type = "password" 
        class = "form-control"
        id = "password1"
        name = "password1"
        placeholder = "Enter password"
        />
    </div>

    <div class = "form-group">
        <label for = "password2"> Password (Confirm)</label>
        <input 
        type = "password" 
        class = "form-control"
        id = "password2"
        name = "password2"
        placeholder = "Confirm password"
        />
    </div>
    
    <br/>
    <button type = "submit" class = "btn btn-primary"> Submit</button>





</form>
{% endblock %}
